
  SELECT [area]
      ,[cou]
      ,[dis]
      ,[codist]
      ,[LastName]
      ,[FirstName]
      ,[MiddleName]
      ,[cert]
      ,[bdate]
      ,[byr]
      ,[bmo]
      ,[bday]
      ,[sex]
      ,[hispanic]
      ,[race]
      ,[hdeg]
      ,[hyear]
      ,[acred]
      ,[icred]
      ,[bcred]
      ,[vcred]
      ,[exp]
      ,[camix1]
      ,[ftehrs]
      ,[ftedays]
      ,[certfte]
      ,[clasfte]
      ,[certbase]
      ,[clasbase]
      ,[othersal]
      ,[tfinsal]
      ,[cins]
      ,[cman]
      ,[cbrtn]
      ,[clasflag]
      ,[certflag]
      ,[act]
      ,[bldgn]
      ,[pctass]
      ,[ftetotal]
      ,[saltotal]
	INTO [SandBox].[dbo].[s275_state_hfinal17]
	FROM (
	SELECT *,RANK() OVER (PARTITION BY cert ORDER BY bldgn DESC) M 
    FROM [SandBox].[dbo].[s275_state_17]) Q
	WHERE M = 1 

			